body{
    padding: 0;
    margin: 0;
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family: sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 10px;

}
.box h5{
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 10px;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;

}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;

}
.box li a{
    color: wheat;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: red;
}